* {
    box-sizing: border-box;
}
body {
    background: whitesmoke;
}
a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
img {
    width: 100px;
    height: 100px;
}
div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1px;
}
label {
    margin-right: 10px;
}